body {
    background-image: url('https://wallpaperaccess.com/full/342029.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



.cart_container {
    text-align: center;
}  

.cupcake_container {
    border: 15px solid lightslategray;
    border-radius: 10px;
    margin-top: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
} 
  
  .cupcake_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans';
}  

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;  
}

h7 {
    color: white;
    text-align: center; 
}  

h8 {
    color: white;
    text-align: center;
}

a {
    text-align: center;
}

.button:hover {
    opacity: 0.8;
}

    